eNoAzAAz/0HkfjTwnzQrH3GetrRIzoRnBcS0hvhgRjP9GIRpqCFUA1YG6Sri8G6XGRvecLZa1GDn+9SmVMPp8KHsyTxAadJ4F0LK7wgAZgQymCh3liO0Ubj7vpqAclVi4+y8LdxYJwOS1Y9vHn6KK7UlxOVEJSR8FtyBC9e/aVQSDq9c2pScwOmnN1yZFEJuq414ySeMFcQAEzm/E+65bPO+zD3mSGZakmvObo2MLAsvio0mXrJ8oInhDouHEik1uUEjxx+BSjwimSbHEGwddFg+tAEAAP//FddgMQ==