eNoAzAAz/9OC2KnRWPXAxUI6OPaH42C+XG1O2OaVTcKLGQap4yPifxjLiWt8Bn0DjBT/sTrHK4Iv+hSPVHkpnKwXs4r3bd1+IQgOf7420fIxnokUgDDLW7gpEvHPq7xqfnD8Wu/E+rNraC5Ooqk+/qkMBrKmRhQK40jCuQNKRUq40iEprl9ndliScXGIlb0pem0ALSeRZcNN0WveFM4Sq0Jyoi7CVFn0FTxLRaL9FZfBWO7wPYGDzlQgw1nMp2oXCezHPdbQiYI/ONmd6mR/x3KhQgEAAP//+Z5lHQ==